# ===============================
# Java compiled files
# ===============================
*.class
*.jar
*.war
*.ear

# ===============================
# Build directories
# ===============================
bin/
build/
out/
target/

# ===============================
# IDE files
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary files
# ===============================
*.tmp
*.swp

# ===============================
# Executables
# ===============================
*.exe

ADJ/README.MD